:root {
    --main-font: 'Roboto', sans-serif; 
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-family: var(--secondary-font);
}

body {
    font-family: var(--main-font);
}
/*HEADER*/
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
   color:var(--accent-color);
}

.contact-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
 .contact-number:hover,
 .contact-number:focus {
    color: var(--accent-color);
 }
 /*/HEADER*/

 /*COMPONENTS*/
 .modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    text-align: center;
    cursor: pointer;

 }
/*/COMPONENTS*/

/*HERO*/

  .hero {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
  }
  .main-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
  } 
/*/HERO*/

.benefits-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
}

.benefits-li {
    display: inline-block;
    margin: 0 10px;
}
.benefits-text {
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.title-do {
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.li-do {
    display: inline-block;
    margin: 0 10px;
}

.time-title {
font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.time-li {
    display: inline-block;
    margin: 0 10px;
}

.contact {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
    color: #FFFFFF;

}

.contact-li {
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);;
list-style: none;
margin: 0; padding: 0;
}

.logo-web{
    color: var(--accent-color);
}